body{
  background-image: url("../images/wood_wallpaper.jpg");
  font-family: 'Arvo', sans-serif;
  margin: 0px auto;
}

header{
  background-color: #000000;
  position: fixed;
  color: #FFFFFF;
  height: 55px;
  width: 100%;
  margin-top: 0px;
  z-index: 5;
}

nav{
  float: right;
  padding-right: 25px;
}

nav ul li{
  display: inline;
}

li a{
  color:#ffffff;
  text-decoration: none;
}

li a:hover{
  color: #ff6600;
}

section{
  width: 75%;
  margin: auto;
  padding: 10px;
}

section li a{
  color:#000000;
  text-decoration: none;
}

article{
  background-color: #ffffff;
  border:1px solid #000000;
  min-height: 300px;
  width: 100%;
  height: auto;
  padding: 10px;
}

article h2{
  text-align: center;
  color: #ff6600;
}


pre{
  padding: 5px;
  width: 80%;
  margin: auto;
  text-align: left;
}


p{
  font-size: .90em;
  line-height: 1.5;
}

p img{
  margin: auto;
  border: 1px solid #000000;
  display: block;
}

footer{
  background-color: #000000;
  height: 50px;
  clear: both;
  margin-top: 100px;
}

.dotted_break{
  border: 1px dashed #445567;
}
#header_img{
  width: 790px;
  border: 5px solid #000000;
}

#gradient{
  background-color: #9ABFAD;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#677F73), to(#CDFFE6));
}

#container{
  padding-top:75px;
  width: 100%;
  min-height: 600px;
}

#social_media{
  display: inline;
  float: left;
  margin-top: 10px;
  margin-left: 150px;
}