body {
  font-family: sans-serif;
  background-color: #fff;
}

header.site-header {
  border-bottom: 3px solid #000;
  margin-bottom: 1rem;
}

a {
    cursor: pointer;
    color: #00ca79;
    text-decoration: none;

    &:hover {
      background: #1e1e1e;
      color: #efefef;
    }
  }

footer {
  border-top: 3px solid #000;
  margin-top: 1rem;
  padding-top: 1rem;
  font-size: 0.8rem;

  :after {
    content: " <=>";
  }

  :last-child:after {
    content: "";
  }

  div {
    display: inline-block;

  }

}

.container {
  max-width: 60rem;
  margin: 0 auto;
  padding: 0 1rem;
}

.lil-bits {
  word-wrap: break-word;
  font-size: 1rem;
  line-height: 1.5rem;
  font-style:normal;
  font-family: Menlo, Monaco, "Droid Sans", "Lucida Console", "Liberation Mono", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Courier New", monospace, serif;

  .content {
    a {
      border-bottom: 1px solid #000;    
    }

    .description {
      padding-bottom: 1rem;
      font-size: 0.9rem;
    }
  }
}

blockquote {
  border-left: 2px solid #000;
  padding-left: 0.7rem;

  p {
    &:before {
      content: "> ";
    }
  }
}

.highlight {
  padding: 1rem;
  background-color:#3f3f3f;
}
