body {
  font-family: sans-serif;
  background-attachment: fixed;
  -webkit-font-smoothing: antialiased;
  background-image: -webkit-linear-gradient(260deg, #099 0%, #90EE90 100%);
  background-image: linear-gradient(-170deg, #099 0%, #90EE90 100%);
}

body:before {
  background-image: -webkit-linear-gradient(260deg, #099 0%, #90EE90 100%);
  background-image: linear-gradient(-170deg, #099 0%, #90EE90 100%);
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

header.site-header {
  border-bottom: 3px solid #000;
  margin-bottom: 1rem;
}

a {
    cursor: pointer;
    color: #123123;
    text-decoration: none;

    &:hover {
      background: #000;
      color: #efefef;
    }
  }

footer {
  border-top: 3px solid #000;
  margin-top: 1rem;
  padding-top: 1rem;
  font-size: 0.8rem;

  :after {
    content: " <=>";
  }

  :last-child:after {
    content: "";
  }

  div {
    display: inline-block;

  }

}

.container {
  max-width: 60rem;
  margin: 0 auto;
  padding: 0 1rem;
}

.lil-bits {
  word-wrap: break-word;
  font-size: 1rem;
  line-height: 1.5rem;
  font-style:normal;
  font-family: Menlo, Monaco, "Droid Sans", "Lucida Console", "Liberation Mono", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Courier New", monospace, serif;

  .content {
    a {
      border-bottom: 1px solid #000;    
    }

    .description {
      padding-bottom: 1rem;
      font-size: 0.9rem;
    }
  }
}

.language-rust {
    .highlight {
      // Hide some of rouges problems with highlighting life times
      .err {
        // Life time tick as well as following identifier, but also `?Sized`
        &, & + .n {
          color: #000080; // color of types
          background-color: transparent;
          font-weight: normal;
        }
      }
    }
  }
