body {
  background-color: DarkSlateGray;
}

div {
  text-align: left;
  width: 500px;
  position: relative;
  left: 30%;
  border: 3px solid #000000;
  padding: 10px;
  border-radius: 5px;
  background-color: #FFF8DC;
}

* {
  font-family: Verdana;
}