div{
  border: 1px solid #000000;
  font-family: Verdana;
}

#absolute{
  position: absolute;
  width: 100px;
  height:100px;

}

#relative{
  position:relative;
  width: 100px;
  height:100px;
  top: 50px;
}

#fixed{
  position: fixed;
  width: 100px;
  height:100px;
}