<!DOCTYPE html>
<html>
    {% include head.html %}
    <body>
        <div class="container lil-bits">
            {% include header.html %}
            <div class="content">
              {{ content }}
            </div>
            {% include footer.html %}
        </div>
    </body>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-79667929-2"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

          gtag('config', 'UA-79667929-2');
    </script>
</html>
